// RESPONSIVE BREAKPOINTS
$bp-lg: 128rem; //1280px
$bp-md: 96rem; //960px
$bp-sm: 60rem; //600px

// SPACING VARIABLES
$pad-lg: 12rem;
$pad-md: 5rem;
$pad-sm: 3rem;
$pad-xs: 1.5rem;

$marg-lg: 12rem;
$marg-md: 5rem;
$marg-sm: 3rem;
$marg-xs: 1.5rem;

@media (max-width: $bp-md) {
  $pad-lg: 8rem;
  $marg-lg: 8rem;
}

// COLOR VARIABLES
$color-primary: #0066ff;

$color-light-gray: #f2f1f0;
$color-dark: #222;
$color-light: #fff;
$text-dark: #222;
$text-light: #fff;

// COLOR CLASSES
.type-bug {
  background-color: #a8b820;
}

.type-dark {
  background-color: #705848;
}

.type-dragon {
  background-color: #7038f8;
}

.type-electric {
  background-color: #f8d030;
}

.type-fairy {
  background-color: #ee99ac;
}

.type-fighting {
  background-color: #c03028;
}

.type-fire {
  background-color: #f08030;
}

.type-flying {
  background-color: #a890f0;
}

.type-ghost {
  background-color: #705898;
}

.type-grass {
  background-color: #78c850;
}

.type-ground {
  background-color: #e0c068;
}

.type-ice {
  background-color: #98d8d8;
}

.type-normal {
  background-color: #c4c4a4;
}

.type-poison {
  background-color: #a040a0;
}

.type-psychic {
  background-color: #f85888;
}

.type-rock {
  background-color: #b8a038;
}

.type-steel {
  background-color: #b8b8d0;
}

.type-water {
  background-color: #6890f0;
}

// FONT VARIABLES

h2,
h3 {
  line-height: 1.2;
  color: $text-dark;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p,
li {
  font-family: sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  color: $text-dark;
}

// BASICS

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-md) {
    font-size: 55%;
  }
}

body {
  background-color: $color-light-gray;
  margin: 0 auto;
}

ul {
  list-style: none;
}
