.page {
  &-container {
    margin: 0 auto;
  }
}

.pokedex-container {
  width: bp-lg;
  margin-top: 9rem;
}

.card {
  &-container {
    display: grid;
    grid-template-rows: auto;
    width: 35rem;
    background-color: $color-light-gray;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: $color-light;
    overflow: hidden;
    justify-content: center;
    text-align: center;
  }

  &-img-container {
    width: 35rem;
    height: 20rem;
    background-color: $color-dark-gray;
    img {
      height: 20rem;
    }
  }

  &-name {
    font-weight: bold;
  }
  &-types {
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;

    .pokemon-type {
      padding: 1rem;
      margin: 0.3rem;
      border-radius: 1rem;
    }
  }

  &-basic-info {
    background-color: $color-light-gray;
    margin: 0 auto;
    width: 30rem;
  }

  &-stats-container {
    margin: $marg-xs auto;
    width: 30rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.6rem;
  }
}

span.title {
  font-weight: bold;
}
